<h1>Stupid Coaching</h1>
<div class="answer-grey">
<p><%= @question_input %></p>
<h2>- You</h2>
</div>

<div class="answer-yellow">
<p><%= @result %></p>
<h2>- Your coach</h2>
</div>
<%= link_to("Ask a new question", ask_path) %>
